@font-face {
	font-family: 'Mont';
	font-style: normal;
	font-display: swap;
	font-weight: 100;
	src:local(''),
		url('/assets/fonts/thin.woff') format('woff'),
		url('/assets/fonts/thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Mont';
	font-style: normal;
	font-display: swap;
	font-weight: 200;
	src:local(''),
		url('/assets/fonts/extralight.woff') format('woff'),
		url('/assets/fonts/extralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Mont';
	font-style: normal;
	font-display: swap;
	font-weight: 300;
	src:local(''),
	url('/assets/fonts/light.woff') format('woff'),
	url('/assets/fonts/light.woff2') format('woff2');
}

@font-face {
	font-family: 'Mont';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:local(''),
		url('/assets/fonts/regular.woff') format('woff'),
		url('/assets/fonts/regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Mont';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src:local(''),
		url('/assets/fonts/semibold.woff') format('woff'),
		url('/assets/fonts/semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Mont';
	font-style: normal;
	font-display: swap;
	font-weight: 800;
	src:local(''),
		url('/assets/fonts/bold.woff') format('woff'),
		url('/assets/fonts/bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Mont';
	font-style: normal;
	font-display: swap;
	font-weight: 900;
	src:local(''),
		url('/assets/fonts/black.woff') format('woff'),
		url('/assets/fonts/black.woff2') format('woff2');
}

@font-face {
	font-family: 'Mont';
	font-style: normal;
	font-display: swap;
	font-weight: 950;
	src:local(''),
		url('/assets/fonts/heavy.woff') format('woff'),
		url('/assets/fonts/heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Mont';
	font-style: italic;
	font-display: swap;
	font-weight: 100;
	src:local(''),
		url('/assets/fonts/thinitalic.woff') format('woff'),
		url('/assets/fonts/thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Mont';
	font-style: italic;
	font-display: swap;
	font-weight: 200;
	src:local(''),
		url('/assets/fonts/extralightitalic.woff') format('woff'),
		url('/assets/fonts/extralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Mont';
	font-style: italic;
	font-display: swap;
	font-weight: 300;
	src:local(''),
		url('/assets/fonts/lightitalic.woff') format('woff'),
		url('/assets/fonts/lightitalic.woff2') format('woff2');
}
@font-face {
	font-family: 'Mont';
	font-style: italic;
	font-display: swap;
	font-weight: 400;
	src:local(''),
		url('/assets/fonts/regularitalic.woff') format('woff'),
		url('/assets/fonts/regularitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Mont';
	font-style: italic;
	font-display: swap;
	font-weight: 700;
	src:local(''),
		url('/assets/fonts/semibolditalic.woff') format('woff'),
		url('/assets/fonts/semibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Mont';
	font-style: italic;
	font-display: swap;
	font-weight: 800;
	src:local(''),
		url('/assets/fonts/bolditalic.woff') format('woff'),
		url('/assets/fonts/bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Mont';
	font-style: italic;
	font-display: swap;
	font-weight: 900;
	src:local(''),
		url('/public/assets/fonts/blackitalic.woff') format('woff'),
		url('/public/assets/fonts/blackitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Mont';
	font-style: italic;
	font-display: swap;
	font-weight: 950;
	src:local(''),
		url('/public/assets/fonts/heavyitalic.woff') format('woff'),
		url('/public/assets/fonts/heavyitalic.woff2') format('woff2');
}
