{% from "components/icon/icon.njk" import icon %}

<footer class="bg-gallery">
	<div class="container grid w-full grid-cols-[minmax(0,1fr),minmax(0,1.3fr)] px-5 py-8 sm:py-[60px] mx-auto sm:grid-cols-a1 gap-x-9 gap-y-10 sm:gap-x-[120px] sm:gap-y-14">
		<a class="col-span-2 sm:col-span-1" href="/">
			<img class="h-8 sm:h-[52px]" src="/assets/icons/fulllogo.svg" alt="Логотип RoiBee">
		</a>
		<nav class="grid col-start-1 grid-rows-a1 gap-y-5 h-max text-boulder sm:text-base sm:col-auto">
			<span class="block font-bold text-tundora sm:hidden">РАЗДЕЛЫ</span>
			<ul class="grid gap-y-4 sm:gap-y-2 gap-x-[60px] text-sm font-semibold sm:font-extrabold sm:leading-5 sm:text-base sm:grid-rows-2 sm:grid-flow-col sm:max-w-max text-boulder">
				{% for item in footer.footerList %}
					<li>
						<a href="{{ item.url }}" class="outline outline-offset-8 outline-transparent focus-visible:rounded-xl focus-visible:outline-electric-violet-3">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
		<div class="sm:mt-auto sm:border-t-4 border-mercury sm:col-span-2">
			<ul class="grid gap-6 sm:gap-y-[18px] text-footer-top font-bold sm:mt-[30px] grid-cols-full sm:grid-cols-none sm:grid-rows-2 sm:grid-flow-col sm:justify-between sm:auto-cols-auto text-mercury-2">
				<li class="">
					<a class="flex space-x-2 text-black outline outline-offset-8 outline-transparent focus-visible:rounded-xl focus-visible:outline-electric-violet-3" href="mailto:roibee@ya.ru">
						{{ icon(
							name="mail-icon",
							size="h-[18px] w-[18px]"
						) }}
						<span class="text-sm leading-[18px]">roibee@ya.ru</span>
					</a>
				</li>
				<li class="font-bold sm:row-start-1 ">
					<a class="text-black outline outline-offset-8 outline-transparent focus-visible:rounded-xl focus-visible:outline-electric-violet-3" href="#">Политика конфиденциальности</a>
				</li>
				<li>
					Copyright MoDeFaco 2022-3000
				</li>
				<li>
					г.Екатеринбург, дом 5,кв12
				</li>
				<li>
					ООО "Roibee Digital"
				</li>
			</ul>
		</div>
	</div>
</footer>
