{% from "components/icon/icon.njk" import icon %}

{% macro button(click, event, class, size, theme, iconName, iconLeft, link) %}
{% if link %}
	{% set tag = 'a' %}
{% else %}
	{% set tag = 'button' %}
{% endif %}
	<{{ tag }}
		{% if link %}
			href="{{ link }}"
		{% else %}
			type="{{ type|default('button') }}"
		{% endif %}
		{% if click %}
			@click="{{ click }}"
		{% endif %}
		:class="{{ event }}"
		class="
			{{ class }}
			flex text-lg font-semibold rounded-full outline-none items-center justify-center max-w-max transition-all duration-300 ease-linear active:opacity-60
			{% if size=='small' %}
				p-1
			{% elif size=='big' %}
				p-4
			{% else %}
				p-3
			{% endif %}
			{% if theme=='white' %} 
				bg-gradient-to-b active:shadow-black lg:hover:shadow-black lg:focus-visible:shadow-black from-white to-silver shadow-white text-black
			{% elif theme=='black' %}
				ring-2 ring-white lg:hover:shadow-puk lg:focus-visible:shadow-puk
			{% else %} 
				text-white bg-gradient-to-t lg:hover:opacity-70 lg:focus-visible:opacity-70 from-seance-2 to-medium-purple-2 shadow-medium-purple shadow-purp lg:hover:shadow-fiol 
			{% endif %}
		"
	>
		{% if iconLeft==true and iconName %}
			{{ icon(name = iconName) }}
		{% endif %}
		<span class="px-2 empty:hidden">
			{{ caller() }}
		</span>
		{% if iconLeft!=true and iconName %}
			{{ icon(name = iconName) }}
		{% endif %}
	</{{ tag }}>
{% endmacro %}