{% macro button(alpine, action, white, black, class, icon, svgClass, svg, buttonText) %}
    <button
        {% if alpine == true %}
            @click="{{ action }}"
        {% endif %}
            class="{{ class }} flex text-lg font-semibold rounded-full outline-none items-center justify-center p-4 max-w-max transition-all duration-300 ease-linear active:opacity-60 
            {% if white == true %} 
                bg-gradient-to-b active:shadow-black hover:shadow-black focus-visible:shadow-black from-white to-silver shadow-white text-black
            {% elif black == true %}
                ring-2 ring-white hover:shadow-puk focus:shadow-puk
            {% else %} 
                text-white bg-gradient-to-t from-seance-2 to-medium-purple-2 shadow-medium-purple shadow-purp hover:shadow-fiol hover:shadow-medium-purple 
            {% endif %}"
        >
        
        {% if icon == true %}
            <svg class="{{ svgClass }}">
                <use xlink:href="/images/icons/all-icon.svg#{{ svg }}"></use>
            </svg> 
        {% else %}
            {{ buttonText }}
        {% endif %}
    </button>
{% endmacro %}