{% import "components/inputs.njk" as elInput %}
{% import "components/buttons.njk" as elButton %}
{% set BriefInputSet = [
    {
        "type" : "text",
        "name" : "entry.182812218",
        "title" : "Назание компании"
    },
    {
        "type" : "text",
        "name" : "entry.182812218",
        "title" : "Контактное лицо"
    },
    {
        "type" : "tel",
        "name" : "entry.182812218",
        "title" : "Телефон"
    },
    {
        "type" : "email",
        "name" : "entry.182812218",
        "title" : "E-mail"
    },
    {
        "type" : "text",
        "name" : "entry.182812218",
        "title" : "Ссылка на сайт или соцсеть для продвижения"
    },
    {
        "type" : "text",
        "name" : "entry.182812218",
        "title" : "Чем занимается компания"
    },
    {
        "type" : "text",
        "name" : "entry.182812218",
        "title" : "Целевая аудитория (Возраст, материальное положение, пол, род занятий и профессий)"
    },
    {
        "type" : "text",
        "name" : "entry.182812218",
        "title" : "Укажите список ваших конкурентов"
    },
    {
        "type" : "text",
        "name" : "entry.182812218",
        "title" : "Принцы работы и ценности вашей компании"
    },
    {
        "type" : "text",
        "name" : "entry.182812218",
        "title" : "Ваши уникальные преимущества перед конкурентами"
    },
    {
        "type" : "text",
        "name" : "entry.182812218",
        "title" : "Какие проблемы решает ваш товар или услуга"
    },
    {
        "type" : "text",
        "name" : "entry.182812218",
        "title" : "Основные цели компании"
    }
] 
%}
{% set BriefradioSet = [
    {
        "text": "Разработка сайта"
    },
    {
        "text": "SEO-продвижение сайта"
    },
    {
        "text": "Контекстная реклама"
    },
    {
        "text": "Таргетированая реклама"
    },
    {
        "text": "Реклама на YouTube"
    },
    {
        "text": "Тизерная реклама"
    },
    {
        "text": "Брендинг"
    },
    {
        "text": "Разработка фирменного стиля (Брендбук)"
    },
    {
        "text": "Все виды услуг"
    }
]
%}
{% macro contactForm() %}
    <form  x-data="contactForm()" x-ref="form" method="POST" @submit.prevent="submitData">
        <div class="grid gap-2 2xs:gap-3.5 xl:gap-4.5">
            {{ elInput.inputDefault
                (
                    type = "email",
                    name = "entry.183100258",
                    title = "Ваша почта"
                )
            }}
            {{ elInput.inputDefault
                (
                    type = "tel",
                    name = "entry.2081991681",
                    title = "Ваш номер телефона"
                )
            }}
            {{ elInput.inputArea
                (
                    type = "message",
                    name = "entry.714657000",
                    title = "Ваше сообщение",
                    class = "p-1 h-28"
                )
            }}
            <input type="hidden" name="entry.698711001" value="thisUrl"/>
            <input type="hidden" name="entry.27823824" value="refferer"/>
            <input type="hidden" name="entry.1032011634" value="spam"/>
            {{ elButton.buttonDefoult
                (
                    alpine = false,
                    class = "p-3 mx-auto",
                    buttonText = "Отправить"
                ) 
            }}
        </div>
        <div x-show="showMessage" class="absolute inset-0 flex items-center bg-white exit-modal-whatsapp__success-messages">
            <div class="p-5 text-red-600">
                <div class="mb-5 text-lg lg:text-2xl">
                    <p x-html="message"></p>
                </div>
                <button
                    type="button"
                    @click="showMessage = false"
                    class="flex items-center justify-center px-6 py-4 text-sm text-white transition rounded-full outline-none focus:outline-none h-13 bg-themes-default active:bg-themes-second "
                >
                    Закрыть
                </button>
            </div>
        </div>
    </form>
{% endmacro %}

{% macro briefForm() %}
    <h1 class="my-5 text-3xl text-center">Заполните форму</h1>
    <form class="grid max-w-full gap-5 mx-auto md:grid-cols-2">
        {% for item in BriefInputSet %}
            {{ elInput.inputDefault
                (
                    item.type, 
                    item.name, 
                    item.title
                ) 
            }}
        {% endfor %}
        <p class="mt-4 text-2xl font-medium text-center md:col-span-2">Какие виды услуг или товаров. Вы планируете продвигать в порядке приоритета?</p>
        <div class="grid gap-2 mx-auto md:col-span-2 md:grid-cols-2 max-w-max">
            {% for item in BriefradioSet %}
                <div class="grid {% if loop.last %} md:col-span-2 md:mx-auto {% endif %}">
                        {% call elInput.inputRadio(
                            class = "grid items-center grid-cols-1a {% if loop.last %} gap-x-5 {% endif %}",
                            type = "checkbox",
                            textLeft = "true"
                        ) %}
                            <span class="block text-lg transition-colors duration-300 peer-checked:text-electric-violet">{{ item.text }}</span>
                        {% endcall %}
                </div>
            {% endfor %}
        </div>
        {{ elInput.inputDefault
            (
                type = "text",
                name = "entry.182812218",
                title = "Есть ли у Вас ответственные за техническую часть сайта?"
            )
        }}
        {{ elInput.inputDefault
            (
                type = "text",
                name = "entry.182812218",
                title = "На какие изменения на сайте Вы готовы пойти?"
            )
        }}
        {{ elInput.inputDefault
            (
                type = "text",
                name = "entry.182812218",
                title = "Сколько вы готовы выделять средств на услуги в месяц"
            )
        }}
        {{ elButton.buttonDefoult
            (
                alpine = false,
                class = "p-3 mx-auto md:col-span-2",
                buttonText = "Отправить"
            ) 
        }}
    </form>
{% endmacro %}