{% import "components/inputs.njk" as elInput %}
{% import "components/buttons.njk" as elButton %}

{% macro contactForm() %}
    <form  x-data="contactForm()" x-ref="form" method="POST" @submit.prevent="submitData">
        <div class="grid gap-2 2xs:gap-3.5 xl:gap-4.5">
            {{ elInput.inputDefault
                (
                    type = "email",
                    name = "entry.183100258",
                    title = "Ваша почта"
                )
            }}
            {{ elInput.inputDefault
                (
                    type = "tel",
                    name = "entry.2081991681",
                    title = "Ваш номер телефона"
                )
            }}
            {{ elInput.inputArea
                (
                    type = "message",
                    name = "entry.714657000",
                    title = "Ваше сообщение",
                    class = "p-1 h-28"
                )
            }}
            <input type="hidden" name="entry.698711001" value="thisUrl"/>
            <input type="hidden" name="entry.27823824" value="refferer"/>
            <input type="hidden" name="entry.1032011634" value="spam"/>
            {{ elButton.button
                (
                    alpine = false,
                    class = "p-3 mx-auto",
                    buttonText = "Отправить"
                ) 
            }}
        </div>
        <div x-show="showMessage" class="absolute inset-0 flex items-center bg-white exit-modal-whatsapp__success-messages">
            <div class="p-5 text-red-600">
                <div class="mb-5 text-lg lg:text-2xl">
                    <p x-html="message"></p>
                </div>
                <button
                    type="button"
                    @click="showMessage = false"
                    class="flex items-center justify-center px-6 py-4 text-sm text-white transition rounded-full outline-none focus:outline-none h-13 bg-themes-default active:bg-themes-second "
                >
                    Закрыть
                </button>
            </div>
        </div>
    </form>
{% endmacro %}