{% macro inputDefault(type, name, title) %}
    <label class="grid gap-y-2 grid-rows-1a">
        <span class="text-xl font-medium text-silver">{{ title }}</span>
        <input
            type="{{ type }}"
            name="{{ name }}"
            autocomplete="false"
            required
            class="w-full px-5 text-white transition-all bg-transparent outline-none appearance-none valid:focus:ring-green-500 invalid:focus:ring-red-600 ring-1 rounded-2xl focus:outline-none h-14 focus:ring-electric-violet hover:ring-electric-violet disabled:text-gray-500 disabled:hover:ring-gray-500 ring-gray-500"
        >
    </label>
{% endmacro %}

{% macro inputArea(type, name, title, class) %}
    <label class="relative grid gap-y-2 group">
        <span class="text-xl font-medium text-silver">{{ title }}</span>
        <textarea
            name="{{ name }}"
            autocomplete="false"
            class="w-full {{ class }} px-5 text-white transition-all bg-transparent outline-none appearance-none ring-1 rounded-2xl focus:outline-none focus:ring-electric-violet hover:ring-electric-violet disabled:text-gray-500 disabled:hover:ring-gray-500 ring-gray-500"
            required
            ></textarea>
    </label>
{% endmacro %}

{% macro inputRadio(class, type, textLeft) %}
    <label class="{{ class }} relative flex group">
        <input name="" class="sr-only peer" type="{{ type }}">
        {% if textLeft=='true' %}
            {{ caller() }}
        {% endif %}
        <span class="w-5 h-5 block relative peer-disabled:shadow-none peer-disabled:cursor-default cursor-pointer appearance-none ring-2 duration-300 group-hover:shadow-md  transition-all peer-disabled:ring-seance peer-disabled:peer-checked:bg-electric-violet peer-checked:ring-electric-violet ring-inset peer-checked:ring-[10px] ring-white before:w-2 before:h-2 before:transition-all before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:absolute before:duration-300 before:rounded-full rounded-full"></span>
        {% if textLeft!='true' %}
            {{ caller() }}
        {% endif %}
    </label>
{% endmacro %}