{% import "components/buttons.njk" as elButton %}

{% macro modal(modalName) %}
<div
    x-show="{{ modalName }}"
    x-transition
    class="fixed inset-0 z-50 w-full h-full overflow-x-hidden overflow-y-auto bg-cod-gray"
    style="display: none;"
>
    {{ elButton.buttonDefoult
        (
            alpine = true,
            alpineObjectName =  modalName ~ " = false, bodyLock = false",
            class = "fixed z-10 p-3 transition-all duration-300 translate-x-1/2 -translate-y-1/2 md:opacity-25 top-5 group right-5 md:hover:opacity-100",
            icon = true,
            svgClass = "md:rotate-45 md:opacity-0 md:group-hover:opacity-100 md:group-hover:rotate-0 transition-all duration-300 md:w-10 w-8 h-8 md:h-10 text-white",
            svg = "close",
            white = true
        ) 
    }}
    {{ caller() }}
</div>    
{% endmacro %}


{% set service = [
        {
            "text" : "Лендинг сайта"
        },
        {
            "text" : "Редизайн"
        },
        {
            "text" : "Дизайн сайта полностью"
        },
        {
            "text" : "Дизайн интернет магазинов"
        },
        {
            "text" : "Создание логотипов"
        }
    ]
%}

{% set process = [
        {
            "title" : "Обсуждение",
            "text" : "Что ожидает клиент от сайта, какие у него представления о сайте, что он хочет донести до клиента, какая тематика."
        },
        {
            "title" : "СТИЛЬ",
            "text" : "Какой стиль хочет, какие цвета и дизайн предпочитает клиент. Показываем прототипы сайтов. Если клиент полагается полностью на воображение и опыт работы дизайнера, то всё будет выполнено по предпочтениям исполнителя!"
        },
        {
            "title" : "Согласование",
            "text" : "Обговариваем цену и срок. На сколько расчитывает клиент. Исходя из требований клиента, дизайнер говорит свой срок и цену. Стороны соглашаются и начинается процесс создания!"
        }
    ] 
%}

{% macro modalService(modalName) %}
    {% call modal(modalName) %}
    {{ elButton.buttonDefoult
        (
            alpine = true,
            alpineObjectName = "service = false",
            class = "fixed z-10 p-3 transition-all duration-300 translate-x-1/2 -translate-y-1/2 md:opacity-25 top-5 group right-5 md:hover:opacity-100",
            icon = true,
            svgClass = "md:rotate-45 md:opacity-0 md:group-hover:opacity-100 md:group-hover:rotate-0 transition-all duration-300 md:w-10 w-8 h-8 md:h-10 text-white",
            svg = "close"
        ) 
    }}
        <div class="container p-5 mx-auto">
            <p class="text-3xl font-extrabold text-center text-transparent uppercase bg-clip-text bg-gradient-to-r from-malibu to-dodger-blue">Дизайн сайтов</p>
            <div class="bg-gradient-to-r from-malibu to-dodger-blue h-0.5 rounded-sm mt-4"></div>
            <div class="w-full mt-10">
                <p class="text-2xl font-bold text-center text-white">Наши услуги</p>
                <div class="grid mt-10 gap-y-10 lg:grid-cols-2">
                    <img src="/images/image/rocket.png">
                    <div class="mx-auto lg:mx-0">
                        <ul class="flex flex-col justify-between h-full">
                            {% for item in service %}
                                <li class="text-lg font-medium text-white">✔️{{ item.text }}</li>
                            {% endfor %}
                        </ul>
                        {{ elButton.buttonDefoult
                            (
                                alpine = false,
                                white = true,
                                class = "p-3 hover:shadow-md hover:shadow-white",
                                buttonText = "Заказать дизайн"
                            ) 
                        }}
                    </div>
                </div>
            </div>
        </div>
        <div
            class="relative mt-32 ml-auto flex max-w-1/2 items-center justify-start rounded-l-[70px] bg-gradient-to-r from-seance-2/[1.87] to-medium-purple-2/[1.10] before:absolute before:top-2 before:left-2 before:right-0 before:z-[-1] before:h-16 before:rounded-l-[70px] before:rounded-r-[0] before:ring-1 before:ring-white"
        >
            <p class="py-5 px-9">Процесс</p>
        </div>
        <div class="container p-5 mx-auto mt-10">
            <ul class="grid gap-5 mx-auto max-w-max lg:grid-cols-2 xl:grid-cols-3">
                {% for item in process %}
                    <li class="sm:p-6 max-w-[400px] {% if loop.last %} md:col-span-2 xl:col-span-1 xl:mx-0 md:mx-auto {% endif %} text-white">
                        <p class="text-3xl font-bold uppercase">{{ loop.index }}. {{ item.title }}</p>
                        <span class="block text-lg sm:pt-6 sm:pl-6">{{ item.text }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endcall %}
{% endmacro %}