{% from "components/buttons.njk" import button %}

{% macro swiper(
	class,
	wrapperClass,
	items,
	pagination,
	buttonPrev,
	buttonNext,
	tag
) %}
	<div class="{{ class }} swiper">
		<{{ tag|default('div') }}
			class="{{ wrapperClass }} swiper-wrapper"
		>
			{{ caller() }}
		</{{ tag|default('div') }}>
		{% if pagination %}
			{% if items.length > 1 %}
				<div
					class="{{ pagination }}"
				></div>
			{% endif %}
		{% endif %}
		{% if buttonPrev and buttonNext %}
			{% for item in [
				{
					class: buttonNext,
					text: 'Следующий слайд'
				},
				{
					class: buttonPrev,
					text: 'Предыдущий слайд'
				}
			] %}
				{% call button(
					class = item.class,
					hideText = item.text,
					icon = "arrow"
				) %}
				{% endcall %}
			{% endfor %}
		{% endif %}
	</div>
{% endmacro %}
