<section class="pb-1w">
    <div class="text-base yarlik_l mb-70px">
        <p>Процесс
        </p>
    </div>
    <div class="relative p-0 pt-[1vh]">
        <div class="flex justify-center process__block">
            <input id="p1" class="hidden" name="test" type="radio" checked>
            <input id="p2" class="hidden" name="test" type="radio">
            <input id="p3" class="hidden" name="test" type="radio">
            <input id="p4" class="hidden" name="test" type="radio">
            <input id="p5" class="hidden" name="test" type="radio">
            <div class="hidden process__progress"><div></div></div>
            <ul class="flex flex-col flex-wrap process__punkts">
            <li>Заполнение брифа</li>
            <li>Изучение заявки</li>
            <li>Обсуждение деталей</li>
            <li>Оформление договора</li>
            <li>Начало сотрудничества</li>
            </ul>
            <div class="process__card">
            <div class="process__modal">
            <span class="m-auto">ЗАЯВКА</span>
            <p>lorem upsun dolor sit amet. Всем привет, я тут написал кое что важное, чтобы
        заполнить эту чёртову строку текста и заполнить сам блок текстом про нас.
        Но так как я ничего кроме этого текста не мог придумать и лорем искать мне
        лень, я решил накатать этот текст как альтернативу. И да, мне лень тыкнуть
        два клика ЛОрема чем писать такой текст самому и придумывать его на ходу</p>
            <label class="ml-auto text-black btn btn_white" for="p2">Вперед</label>
        </div>

                <div class="process__modal">
                <span class="m-auto">ЗАЯВКА2</span>
                <p>2lorem upsun dolor sit amet. Всем привет, я тут написал кое что важное, чтобы
        заполнить эту чёртову строку текста и заполнить сам блок текстом про нас.
        Но так как я ничего кроме этого текста не мог придумать и лорем искать мне
        лень, я решил накатать этот текст как альтернативу. И да, мне лень тыкнуть
        два клика ЛОрема чем писать такой текст самому и придумывать его на ходу</p>
                <label class="btn btn_back" for="p1">Назад</label>
                <label class="text-black btn btn_white" for="p3">Вперед</label>
            </div>
            <div class="process__modal">
                <span class="m-auto">ЗАЯВКА 3</span>
                <p>3lorem upsun dolor sit amet. Всем привет, я тут написал кое что важное, чтобы
        заполнить эту чёртову строку текста и заполнить сам блок текстом про нас.
        Но так как я ничего кроме этого текста не мог придумать и лорем искать мне
        лень, я решил накатать этот текст как альтернативу. И да, мне лень тыкнуть
        два клика ЛОрема чем писать такой текст самому и придумывать его на ходу</p>
                <label class="btn btn_back" for="p2">Назад</label>
                <label class="text-black btn btn_white" for="p4">Вперед</label>
            </div>
            <div class="process__modal">
                <span class="m-auto">ЗАЯВКА 4</span>
                <p>4lorem upsun dolor sit amet. Всем привет, я тут написал кое что важное, чтобы
        заполнить эту чёртову строку текста и заполнить сам блок текстом про нас.
        Но так как я ничего кроме этого текста не мог придумать и лорем искать мне
        лень, я решил накатать этот текст как альтернативу. И да, мне лень тыкнуть
        два клика ЛОрема чем писать такой текст самому и придумывать его на ходу</p>
                <label class="btn btn_back" for="p3">Назад</label>
                <label class="text-black btn btn_white" for="p5">Вперед</label>
            </div>
            <div class="process__modal">
                <span class="m-auto">ЗАЯВКА 5</span>
                <p>5lorem upsun dolor sit amet. Всем привет, я тут написал кое что важное, чтобы
    заполнить эту чёртову строку текста и заполнить сам блок текстом про нас.
    Но так как я ничего кроме этого текста не мог придумать и лорем искать мне
    лень, я решил накатать этот текст как альтернативу. И да, мне лень тыкнуть
    два клика ЛОрема чем писать такой текст самому и придумывать его на ходу</p>
                <label class="btn btn_back" for="p4">Назад</label>
            </div>
            </div>
        </div>
    </div>
</section>