{% from "components/inputs.njk" import input, textArea %}
{% from "components/buttons.njk" import button %}

{% macro contactForm() %}
	<form
		class="max-w-[500px] mx-auto"
		x-data="contactForm"
		x-ref="form"
		action="#"
		method="POST"
		@submit.prevent="submit"
	>
		<div class="grid gap-2 2xs:gap-3.5 xl:gap-4.5">
			{{ input(
				type = "email",
				name = "entry.183100258",
				title = "Ваша почта",
				required = true,
                attr = "@focusin='preSubmit'"
			) }}
			{{ input(
				type = "tel",
				name = "entry.2081991681",
				title = "Ваш номер телефона",
				required = true,
                attr = "@focusin='preSubmit'"
			) }}
			{{ textArea(
				type = "message",
				name = "entry.714657000",
				title = "Ваше сообщение",
                attr = "@focusin='preSubmit'"
			) }}
			<input
				type="hidden" 
				name="entry.698711001" 
				x-model="page"
			/>
			<input
				type="hidden" 
				name="entry.27823824"
				x-model="refferer"
			/>
			<input
				type="hidden" 
				name="entry.1032011634" 
				x-model="notRobot"
			/>
			{% call button(
				type = "submit",
				class = "p-3 mx-auto",
                attr = "x-ref='button' @mouseover='preSubmit' @focusin='preSubmit'"
			) %}
				<span x-text="buttonLabel">Отправить</span>
			{% endcall %}
		</div>
		<div
			x-cloak
			x-transition:enter="opacity-0 invisible"
			x-transition:leave="opacity-0 invisible"
			x-show="sent"
			class="absolute inset-0 mb-5 transition-all duration-300"
		>
			<div class="flex items-center h-full max-w-lg mx-auto bg-seance rounded-3xl">
				<div class="w-full mb-5">
					<div class="p-5 text-lg text-center text-white lg:text-2xl">
						<!-- <p x-html="message"></p> -->
						<p>Форма отправлена, ожидайте!<br> С вами свяжутся</p>
					</div>
					<!-- <button
						type="button"
						@click="sent = false"
						class="flex items-center justify-center px-6 py-3 mx-auto text-lg text-black transition bg-white rounded-full outline-none focus:outline-none h-13 bg-themes-default active:bg-themes-second "
					>
						Закрыть
					</button> -->
					{% call button(
						theme = "white",
						type = "button",
						class = "p-3 mx-auto",
						click = "sent = false, $refs.form.reset()"
					) %}
						<span>Закрыть</span>
					{% endcall %}
				</div>
			</div>
		</div>
	</form>
{% endmacro %}