{% import "components/forms.njk" as elForm %}
<section class="pb-1w">
    <div class="h-16 bg-gradient-to-l from-seance-2/[1.87] to-medium-purple-2/[1.10] mt-16 max-w-1/2 relative flex items-center rounded-r-[70px] mr-auto justify-end before:absolute before:h-16 before:ring-1 before:ring-white before:z-[-1] before:top-2 before:rounded-r-[70px] before:left-0 before:right-0 before:rounded-l-[0]">
        <p class="py-5 px-9">Связаться с нами</p>
    </div>
    <div class="mt-10 container relative mx-auto overflow-hidden max-w-[500px] sm:gap-x-8 sm:p-5 rounded-3xl">
        {{ elForm.contactForm() }}
    </div>
</section>
