{% import "components/forms.njk" as elForm %}
<section class="pb-[1vw]">
	<div
		class="relative mt-16 mr-auto flex h-16 max-w-1/2 items-center justify-end rounded-r-[70px] bg-gradient-to-l from-seance-2 to-medium-purple-2 before:absolute before:top-2 before:left-0 before:right-0 before:z-[-1] before:h-16 before:rounded-r-[70px] before:rounded-l-[0] before:ring-1 before:ring-white"
	>
		<p class="py-5 px-9">Связаться с нами</p>
	</div>
	<div
		class="container relative mx-auto mt-10 max-w-[500px] overflow-hidden rounded-3xl sm:gap-x-8 sm:p-5"
	>
		{{ elForm.contactForm() }}
	</div>
</section>
