<section id="slide_uslug" class="swiper-container">
    <div class="relative flex items-center justify-end h-16 mt-16 rounded-r-full max-w-1/2 bg-gradient-to-r from-medium-purple to-seance">
        <span class="absolute border-2 rounded-r-full -z-10 -bottom-2 -left-1 inset-2 "></span>
        <p class="pl-5 pr-9">Услуги</p>
    </div>
    <div class="swiper-scrollbar">
        <div class="w-full swiper-scrollbar-drag"></div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="flex flex-wrap w-full pt-12 swiper-wrapper">
        <div class="w-full m-auto swiper-slide">
            <div class="card__uslug">
                <p class="text">
                    Дизайн сайтов
                </p>
                <div class="card__uslug-flex">
                    <div class="w-full block__img-price">
                        <div class="img__uslug lozad" data-background-image="/images/image/webdev.png"></div>
                        <div class="text-black uslug__price"><p>от 20.000 ₽</p></div>
                    </div>
                    <div class="w-full text__uslug">
                        <p>Lorem ipsum dolor sit amet</p>
                        <p>Lorem ipsum dolor sit amet</p>
                        <p>Lorem ipsum dolor sit amet</p>
                        <p>Lorem ipsum dolor sit amet</p>
                        <label class="m-auto btn btn_white md:mb-0 md:ml-0" for="usluga__1">Подробнее</label>
                        <input id="usluga__1" class="hidden inputcheck" type="checkbox" />
                        <label class="close__btn btn_fiol" for="usluga__1"><span></span></label>
                        <div class="popup__all popup__usluga1">
                                <div class="relative bg-left-bottom bg-no-repeat lozad footer__popup-bg" data-background-image="/images/icons/footbg.svg">
                                    <section class="p-0">
                                        <div class="text-base name__uslug">
                                            <p>Дизайн сайтов</p>
                                        </div>
                                        <div class="text-base text__popup-uslug">
                                            <p>Наши услуги:</p>
                                        </div>
                                        <div class="block__uslug-popup">
                                            <div class="w-full img__popup-countainer">
                                                <div class="img__popup-uslug"></div>
                                            </div>
                                            <div class="punkts__button">
                                            <ul class="text-base popup__punkts">
                                                <li>✔️
                                                    Лендинг сайта</li>
                                                <li>✔️
                                                    Редизайн</li>
                                                <li>✔️
                                                    Дизайн полностью сайта</li>
                                                <li>✔️
                                                    Дизайн интернет магазинов</li>
                                                <li>✔️
                                                    Создание логотипов, если потребуется</li>
                                            </ul>
                                            <label class="m-auto text-white btn btn_white mt-5w" for="usluga__1">Заказать дизайн</label>
                                            </div>
                                        </div>

                                    </section>
                                    <section>
                                        <div class="text-base yarlik_r mb-70px pr-30w">
                                            <p>Процесс</p>
                                        </div>
                                        <div class="p-0 pb-8w">
                                            <ul class="text-base">
                                                <li>ОБСУЖДЕНИЕ
                                                    <p>Что ожидает клиент от сайта, какие у него представления о сайте, что он хочет
                                                        донести до клиента, какая тематика.</p>
                                                </li>
                                                <li>СТИЛЬ
                                                    <p>Какой стиль хочет, какие цвета и дизайн предпочитает клиент. Показываем прототипы сайтов.

                                                        Если клиент полагается полностью на воображение и опыт работы дизайнера, то всё будет выполнено по предпочтениям исполнителя!</p>
                                                </li>
                                                <li>Согласование
                                                    <p>Обговариваем цену и срок. На сколько расчитывает клиент. Исходя из требований клиента, дизайнер говорит свой срок и цену. Стороны соглашаются и начинается процесс создания!</p>

                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                    <div class="footer">
                                        <p>© RoiBee 2020<br><a href="#!">Политика конфиденциальности</a> | <a href="#!">Все права защищены</a></p>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full m-auto swiper-slide">
            <div class="card__uslug">
                <p class="text">
                    Дизайн сайтов
                </p>
                <div class="card__uslug-flex">
                    <div class="w-full block__img-price">
                        <div class="img__uslug lozad" data-background-image="/images/image/webdev.png"></div>
                        <div class="text-black uslug__price"><p>от 20.000 ₽</p></div>
                    </div>
                    <div class="w-full text__uslug">
                        <p>Lorem ipsum dolor sit amet</p>
                        <p>Lorem ipsum dolor sit amet</p>
                        <p>Lorem ipsum dolor sit amet</p>
                        <p>Lorem ipsum dolor sit amet</p>
                        <label class="m-auto btn btn_white md:mb-0 md:ml-0" for="usluga__1">Подробнее</label>
                        <input id="usluga__1" class="hidden inputcheck" type="checkbox" />
                        <label class="close__btn btn_fiol" for="usluga__1"><span></span></label>
                        <div class="popup__all popup__usluga1">

                                <div class="relative bg-left-bottom bg-no-repeat lozad footer__popup-bg" data-background-image="/images/icons/footbg.svg">
                                    <section class="p-0">
                                        <div class="text-base name__uslug">
                                            <p>Дизайн сайтов</p>
                                        </div>
                                        <div class="text-base text__popup-uslug">
                                            <p>Наши услуги:</p>
                                        </div>
                                        <div class="punkts__button">
                                        <ul class="text-base popup__punkts">
                                            <li>✔️
                                                Лендинг сайта</li>
                                            <li>✔️
                                                Редизайн</li>
                                            <li>✔️
                                                Дизайн полностью сайта</li>
                                            <li>✔️
                                                Дизайн интернет магазинов</li>
                                            <li>✔️
                                                Создание логотипов, если потребуется</li>
                                        </ul>
                                        <label class="m-auto text-white btn btn_white mt-5w" for="usluga__1">Заказать дизайн</label>
                                        </div>
                                    </div>

                                </section>
                                <section>
                                    <div class="text-base yarlik_r mb-70px pr-30w">
                                        <p>Процесс</p>
                                    </div>
                                    <div class="p-0 pb-8w">
                                        <ul class="text-base">
                                            <li>ОБСУЖДЕНИЕ
                                                <p>Что ожидает клиент от сайта, какие у него представления о сайте, что он хочет
                                                    донести до клиента, какая тематика.</p>
                                            </li>
                                            <li>СТИЛЬ
                                                <p>Какой стиль хочет, какие цвета и дизайн предпочитает клиент. Показываем прототипы сайтов.

                                                    Если клиент полагается полностью на воображение и опыт работы дизайнера, то всё будет выполнено по предпочтениям исполнителя!</p>
                                            </li>
                                            <li>Согласование
                                                <p>Обговариваем цену и срок. На сколько расчитывает клиент. Исходя из требований клиента, дизайнер говорит свой срок и цену. Стороны соглашаются и начинается процесс создания!</p>

                                            </li>
                                        </ul>
                                    </div>
                                </section>
                                <div class="footer">
                                    <p>© RoiBee 2020<br><a href="#!">Политика конфиденциальности</a> | <a href="#!">Все права защищены</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>