<section id="slide_uslug" class="pt-20 swiper-container">
    <div class="relative flex items-center justify-end h-16 mt-16 rounded-r-full max-w-1/2 bg-gradient-to-r from-medium-purple to-seance">
        <span class="absolute border-2 rounded-r-full -z-10 -bottom-2 -left-1 inset-2 "></span>
        <p class="pl-5 pr-9">Услуги</p>
    </div>
    <div class="swiper-scrollbar">
        <div class="w-full swiper-scrollbar-drag"></div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="flex flex-wrap w-full pt-12 swiper-wrapper">
        {% for item in service.services %}
            <div class="grid grid-cols-a1 swiper-slide px-[4vw] gap-x-[50px] mx-auto max-w-[960px] min-h-[365px] m-7 h-auto bg-gradient-to-b from-medium-purple-2 to-seance-2 rounded-3xl">
                <div class="w-full pt-10 mx-auto">
                    <div class="grid w-[300px] h-[220px] ">
                        <img src="/images/image/{{ item.img }}" alt="человекозаврик">
                    </div>
                    <div class="relative mx-auto w-max">
                        <div class=" relative  bg-bright-sun py-[10px] px-[16px] w-max rounded-[50px] not-italic font-semibold text-black z-[1] my-4 ">
                            <p>
                            от {{ item.price }} руб
                            </p>
                        </div>
                        <div class="h-[3px] bg-white w-[150%] absolute -left-1/4 top-1/2 z-[1]rounded-[3px]">
                        </div>
                    </div>
                </div>
                <div>
                    <p class="text-[20px] font-bold  pt-[20px] ">
                        {{ item.title }}
                    </p>
                    <ul class="grid pt-1 pl-1 text-lg font-semibold gap-y-6 ">
                        {% for subitem in item.serviceText %}
                            <li>
                                {{ subitem.text }}
                            </li>
                        {% endfor %}
                    </ul>
                    <button class="flex mt-10 text-black items-center justify-center py-4 px-8 rounded-[50px] self-center w-max cursor-pointer transition-shadow duration-300 ease-linear relative font-semibold tracking-[0.145em] bg-gradient-to-b from-white to-silver shadow-white active:opacity-60 active:shadow-puk/[.60] hover:shadow-puk focus:shadow-puk mb-4" for="usluga__1">Подробнее</button>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
