<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/main.css' | url }}"/>
    <title>Atmosphere</title>
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body class="grid min-h-screen bg-gray-50 grid-areas-layout grid-cols-full grid-rows-layout">
    <!-- {% include 'partials/header.htm' %} -->
    <main class="grid-in-main">
        {{ content | safe }}
    </main>
    <!-- {% include 'partials/footer.htm' %} -->
    <script src="{{ '/assets/main.js' | url }}"></script>
</body>
</html>