{% import "components/buttons.njk" as elButton %}
{% import "components/modal.njk" as elModal %}
{% set links = [
        {
            "linkText": "#",
            "linkIcon": "vk-icon"
        },
        {
            "linkText": "#",
            "linkIcon": "twitter-icon"
        },
        {
            "linkText": "#",
            "linkIcon": "instagram-icon"
        }
    ] 
%}
<section>
    <div class="container w-full px-5 mx-auto">
        <div class="flex-wrap h-screen">
            <div class="grid grid-cols-2 w-full min-h-[80%]">
                <div class="flex flex-col max-h-[80vh] h-[80vh] ml-0 py-10 justify-evenly">
                    <div>
                        <p class="text-3xl font-bold uppercase text-shadow-base">Студия веб-дизайна</p>
                        <p class="font-medium text-2xl leading-[140%] tracking-[0.035em]">Минимализм и удобство!</p>
                    </div>
                    {{ elButton.buttonDefoult
                        (
                            alpine = true,
                            alpineObjectName = "brief = true",
                            class = "p-3",
                            buttonText = "Заполните бриф"
                        ) 
                    }}
                </div>
                {{ elModal.modalform
                    (
                        modalName = "brief"
                    )
                }}
                <div class="relative grid grid-cols-1a">
                    <div class="max-h-[525px] w-full bg-center my-auto bg-no-repeat h-full bg-contain lozad" data-background-image="/images/image/imac.png">
                    </div>
                    <div class="my-auto">
                        <span class="absolute w-1.5 bg-white top-3 rounded-b-md h-[200px] right-4"></span>
                        <span class="absolute w-1.5 bg-white bottom-3 rounded-t-md h-[200px] right-4"></span>
                        <div class="grid gap-y-5 max-w-max">
                            {% for item in links %}
                                <button class="relative transition-all duration-300 hover:opacity-75">
                                    <svg class="w-10 h-10 text-white">
                                        <use xlink:href="/images/icons/all-icon.svg#{{ item.linkIcon }}"></use>
                                    </svg>
                                    <a href="{{ item.linkText }}" rel="nofollow" class="absolute inset-0"></a>
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-span-2 mx-auto podrobnee adaptive__font16">
                    <p>Подробнее</p>
                    <a href="#podr">
                        <div class="podrobnee__btn circle__btn btn_fiol">
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="podr"></div>
</section>