{% set benefits = [
        {
            "text" : "надежно"
        },

        {
            "text" : "выгодно"
        },

        {
            "text" : "\"Всё понятно\""
        },

        {
            "text" : "комфортно"
        },

        {
            "text" : "Правда"
        }
    ]
%}
<section class="mt-20">
    <div class="container px-5 mx-auto">
        <div class="text-2xl font-bold leading-snug tracking-normal text-center text-white">
            <p>В чём наши преимущества?</p>
        </div>
        <div class="grid grid-cols-2 mx-auto mt-5 sm:grid-cols-3 gap-y-5 lg:grid-cols-5">
            {% for item in benefits %}
                <div class="flex flex-col items-center text-center min-w-[145px]">
                    <img class="w-28 h-28" src="/assets/icons/iconadvan.svg">
                    <div class="text-base pt-[10px] w-max">
                        <p>
                            С нами<br> {{ item.text }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>