<section id="slide_1" class="relative w-full min-h-screen">
    <div class="p-0">
        <div class="relative flex flex-wrap h-screen">
            <div class="flex flex-wrap w-full first__block-text">
                <div class="flex flex-col textblock__landing justify-evenly">
                    <div class="text__landing text-">
                        <p class="text-base text__landing-big">СТУДИЯ ВЕБ-ДИЗАЙНА</p>
                        <p class="text-base text__landing-lit">Минимализм и удобство!</p>
                    </div>

                <label for="popup__brif" class="btn btn_fiol first__slide-btn">Заполнить бриф</label>
                <input id="popup__brif" class="hidden inputcheck" type="checkbox" />
                <label class="close__btn btn_fiol" for="popup__brif"><span></span></label>
                <div class="popup__all popup__brif">
                    <div class="p-0 ml-auto mr-auto">
                        <div class="relative flex flex-col">
                            <form name="contact_form" id="form__brif" class="form" action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSdl3xsRAsDFcVqZkO_5B79oXQlSugRiw0Gjic5x8Jl96yJuww/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true">
                                <input type="hidden" name="entry.1126189283" value="">
                                <input type="hidden" class="refclass" name="entry.206925871" value="">
                                <input class="w-full form__area" type="text" placeholder="Название компании" name="entry.363773695" value=""  required>
                                <input class="w-full form__area" type="text" placeholder="Контактное лицо" name="entry.1853621668" value="" required>
                                <input class="w-full form__area" type="tel" placeholder="Телефон" name="entry.1343918706" value="" required>
                                <input class="w-full form__area" type="email" placeholder="E-mail" name="entry.1289732670" value="" required>
                                <input class="w-full form__area" type="text" placeholder="Ссылка на сайт или соцсеть для продвижения" name="entry.1421884975" value="">
                                <input class="w-full form__area" type="text" placeholder="Чем занимается компания" name="entry.649637396" value="" required>
                                <input class="w-full form__area" type="text" placeholder="Целевая аудитория (Возраст, материальное положение, пол, род занятий и профессий)" name="entry.872673331" value="">
                                <input class="w-full form__area" type="text" placeholder="Укажите список ваших конкурентов" name="entry.1709936301" value="">
                                <input class="w-full form__area" type="text" placeholder="Принцы работы и ценности вашей компании" name="entry.272245033" value="">
                                <input class="w-full form__area" type="text" placeholder="Ваши уникальные преимущества перед конкурентами" name="entry.2132189368" value="">
                                <input class="w-full form__area" type="text" placeholder="Какие проблемы решает ваш товар или услуга" name="entry.1719184576" value="">
                                <input class="w-full form__area" type="text" placeholder="Основные цели компании" name="entry.989657775" value="">
                                <input class="w-full form__area" type="text" placeholder="Какие виды услуг или товаров. Вы планируете продвигать в порядке приоритета?" name="entry.60570028" value="">

                                    <input type="checkbox" name="entry.751444005" value="Разработка сайт" >
                                    Разработка сайт

                                    <input type="checkbox" name="entry.751444005" value="SEO-продвижение сайта" >
                                    SEO-продвижение сайта

                                    <input type="checkbox" name="entry.751444005" value="Контекстная реклама" >
                                    Контекстная реклама

                                    <input type="checkbox" name="entry.751444005" value="Таргетированая реклама" >
                                    Таргетированая реклама

                                    <input type="checkbox" name="entry.751444005" value="Реклама на YouTube" >
                                    Реклама на YouTube

                                    <input type="checkbox" name="entry.751444005" value="Тизерная реклама" >
                                    Тизерная реклама



                                    <input type="checkbox" name="entry.751444005" value="Брендинг" >
                                    Брендинг



                                    <input type="checkbox" name="entry.751444005" value="Разработка фирменного стиля (Брендбук)" >
                                    Разработка фирменного стиля (Брендбук)



                                    <input type="checkbox" name="entry.751444005" value="Все виды услуг" >
                                    Все виды услуг



                                    <input type="checkbox" name="entry.751444005" value="__other_option__" >

                                <input type="text" name="entry.751444005.other_option_response" placeholder="custom value">
                                <input class="w-full form__area" type="text" placeholder="Есть ли у Вас ответственные за техническую часть сайта?" name="entry.481116620" value="">
                                <input class="w-full form__area" type="text" placeholder="На какие изменения на сайте Вы готовы пойти?" name="entry.536123033" value="">
                                <input class="w-full form__area" type="text" placeholder="Сколько вы готовы выделять средств на услуги в месяц" name="entry.331124920" value="" required>
                                <div class="g-recaptcha" data-sitekey="6Le_2vEZAAAAAFguuFHWVFIQxjdD_a9P1oT2pk71" data-callback="enablebtn" data-size="invisible"></div>
                                <input class="btn form__btn btnclass btn_fiol" type="submit" value="Вы робот" disabled/>
                        </form>

                        </div>
                    </div>
                </div>
                </div>
                <div class="monitor__block lozad" data-background-image="/images/image/imac.png">
                </div>
                <div class="soc__icon-block">
                    <span></span>
                    <a href="#!" rel="nofollow" class="vk__icon">Мы ВКонтакте</a>
                    <a href="#!" rel="nofollow" class="inst__icon">Наш инстаграмм</a>
                    <a href="#!" rel="nofollow" class="twitter__icon">Наш твиттер</a>
                    <span></span>
                </div>
                <div class="w-full podrobnee adaptive__font16">
                    <p>Подробнее</p>
                    <a href="#podr">
                        <div class="podrobnee__btn circle__btn btn_fiol">
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="podr"></div>
</section>