<section class="pb-1w">
    <div class="h-16 bg-gradient-to-l from-seance-2/[1.87] to-medium-purple-2/[1.10] mt-16 max-w-1/2 relative flex items-center rounded-r-[70px] mr-auto justify-end before:absolute before:h-16 before:ring-1 before:ring-white before:z-[-1] before:top-2 before:rounded-r-[70px] before:left-0 before:right-0 before:rounded-l-[0]"> 
        <p class="py-5 px-9">Связаться с нами</p>
    </div>
    <div class="relative p-0 pt-1 mt-10">
        <script>var submitted=false;</script>
            <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="
            if(submitted)
            {document.getElementById('form').classList.add('opacity-0');
            document.getElementById('send__form').classList.add('opacity-100');
            setTimeout(() => {document.getElementById('form').reset();
            document.getElementById('form').classList.remove('opacity-0');
            document.getElementById('send__form').classList.remove('opacity-100');
            }, 6000)}
            "></iframe>
        <form name="contact_form" id="form" class="form" action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSfoltKxdAT-qxBHd1ALYFypcfeg9fXnQ-fPZLQ3GQFv1NkBLg/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true">
            <input placeholder="Ваша почта" class="w-full form__area" name="entry.183100258" type="email" required />
            <input placeholder="Ваш номер телефона" class="w-full form__area"  name="entry.2081991681" type="tel" required/>
            <textarea placeholder="Сообщение......." class="w-full form__area" name="entry.714657000" style="min-height: 270px;" required></textarea>
            <input type="hidden" name="entry.698711001" value="http://127.0.0.1:5500/">
            <input class="refclass" type="hidden" name="entry.27823824" value="">
            <input class="spam" type="hidden" name="entry.1032011634" value="">
            <div class="g-recaptcha" data-sitekey="6Le_2vEZAAAAAFguuFHWVFIQxjdD_a9P1oT2pk71" data-callback="enablebtn" data-size="invisible"></div>
            <input class="btn form__btn btnclass btn_fiol" type="submit" value="Вы робот" disabled/>
    </form>
    <div id="send__form" class="absolute inset-0 flex items-center justify-center m-auto text-center text-white opacity-0 send__form">
        <p>Спасибо за ваше доверие! В ближайшее время с вами свяжутся.</p>
    </div>
    </div>
</section>