::-webkit-scrollbar-button{
	background-image:url('');
	@apply w-1 h-0 bg-no-repeat;
}
::-webkit-scrollbar-track{
	@apply bg-porcelain;
}
::-webkit-scrollbar-thumb{
	-webkit-border-radius:0;
	@apply rounded-none bg-gradient-to-b from-medium-purple to-seance;
}
::-webkit-scrollbar-thumb:hover{
	@apply rounded-none bg-gradient-to-b from-medium-purple to-seance;
}
::-webkit-resizer{
	background-image:url('');
	@apply w-1 h-0 bg-no-repeat;
}
::-webkit-scrollbar{
	@apply w-1 h-1;
}
.grecaptcha-badge{
	display:none !important
}
*{
	scrollbar-color: #7A1294 #181818;
  	scrollbar-width: thin;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	background-position-x: 45vw;
	background-size: 55vw;
	background-image: url(/assets/icons/sota.svg);
	@apply w-full max-w-full overflow-x-hidden text-base font-semibold tracking-normal text-white bg-right-top bg-no-repeat bg-cod-gray;
}
