input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid #ffffff;
	-webkit-text-fill-color: #ffffff;
	-webkit-box-shadow: 0 0 0px 1000px var(--dark) unset;
	transition: background-color 5000s ease-in-out 0s;
	background-color: var(--dark) !important;
}

.lozad {
	@apply transition-all opacity-0;
}

.lozad[data-loaded="true"] {
	@apply opacity-100;
}

a,
label,
input,
[role="button"] {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main {
	@apply relative w-screen;
}

.footer {
	@apply relative min-h-[110px] flex items-center justify-center;
}
