@import "./fonts.css";
@import "tailwindcss/base";
@import "swiper/swiper-bundle.css";
@import "./index.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./index-old.css";
@import "./default.css";
