{% from "components/inputs.njk" import input, radio %}
{% from "components/buttons.njk" import button %}

{% set data = [
	{
		"name" : "Контактная информация",
		list: [
			{
				"type" : "text",
				"name" : "",
				"title" : "Контактное лицо"
			},
			{
				"type" : "tel",
				"name" : "",
				"title" : "Телефон"
			},
			{
				"type" : "email",
				"name" : "",
				"title" : "E-mail"
			}
		]
	},
	{
		"name" : "Информация о компании",
		list: [
			{
				"type" : "text",
				"name" : "",
				"title" : "Назание компании"
			},
			{
				"type" : "text",
				"name" : "",
				"title" : "Ссылка на сайт или соцсеть для продвижения"
			},
			{
				"type" : "text",
				"name" : "",
				"title" : "Чем занимается компания"
			},
			{
				"type" : "text",
				"name" : "",
				"title" : "Целевая аудитория (Возраст, материальное положение, пол, род занятий и профессий)"
			}
		]
	},
	{
		"name" : "О работе компании",
		list: [
			{
				"type" : "text",
				"name" : "",
				"title" : "Укажите список ваших конкурентов"
			},
			{
				"type" : "text",
				"name" : "",
				"title" : "Принцы работы и ценности вашей компании"
			},
			{
				"type" : "text",
				"name" : "",
				"title" : "Ваши уникальные преимущества перед конкурентами"
			},
			{
				"type" : "text",
				"name" : "",
				"title" : "Какие проблемы решает ваш товар или услуга"
			},
			{
				"type" : "text",
				"name" : "",
				"title" : "Основные цели компании"
			}
		]
	},
	{
		"type" : "radio",
		"title" : "Какие виды услуг или товаров. Вы планируете продвигать в порядке приоритета?",
		"name" : "radio",
		"list" : [
			{
				"text": "Разработка сайта"
			},
			{
				"text": "SEO-продвижение сайта"
			},
			{
				"text": "Контекстная реклама"
			},
			{
				"text": "Таргетированая реклама"
			},
			{
				"text": "Реклама на YouTube"
			},
			{
				"text": "Тизерная реклама"
			},
			{
				"text": "Брендинг"
			},
			{
				"text": "Разработка фирменного стиля (Брендбук)"
			},
			{
				"text": "Все виды услуг"
			}
		]
	},
	{
		"name" : "Разработка",
		list: [
			{
				type: "text",
				name: "",
				title: "Есть ли у Вас ответственные за техническую часть сайта?"
			},
			{
				type: "text",
				name: "",
				title: "На какие изменения на сайте Вы готовы пойти?"
			},
			{
				type: "text",
				name: "",
				title: "Сколько вы готовы выделять средств на услуги в месяц"
			}
		]
	}
] %}

{% macro form() %}
<div class="container p-4 mx-auto">
	<h1 class="mb-5 text-xl text-center mt-14 sm:mt-5 sm:text-2xl md:text-3xl">Заполните форму</h1>
	<form>
		<div class="grid w-full max-w-screen-sm gap-5 mx-auto">
			{% for item in data %}
				{% if item.type=='radio' or item.type=='checkbox' %}
					<fieldset>
						<legend class="mt-4 text-2xl font-medium text-center">{{ item.title }}</legend>
						<div class="grid mx-auto mt-5 gap-y-2 gap-x-10 max-w-max">
							{% for subitem in item.list %}
								{% call radio(
									item.type,
									item.name,
									textLeft= true,
									class= "grid items-center grid-cols-a1 gap-x-5"
								) %}
									<span class="block text-lg transition-colors duration-300 peer-checked:text-electric-violet">{{ subitem.text }}</span>
								{% endcall %}
							{% endfor %}
						</div>
					</fieldset>
				{% else %}
					<fieldset class="grid gap-5">
						<legend class="mb-5 text-2xl text-center">{{ item.name }}</legend>
						{% for subitem in item.list %}
							{{ input(
								type = subitem.type, 
								name = subitem.name, 
								title = subitem.title
							) }}
						{% endfor %}
					</fieldset>
				{% endif %}
			{% endfor %}
		</div>
		{% call button(
			type = "submit",
			class = "p-3 mx-auto mt-5"
		) %}
			Отправить
		{% endcall %}
	</form>
</div>
{% endmacro %}
