
<header
	x-data="{
		menuBurger: false,
		noTop: false
	}"
	x-init="$watch('noTop', value => openMenuNoTop ? openMenuNoTop = !value : '')"
	@scroll.window="noTop = (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100)"
	class="bg-dove-gray/10"
	:class="noTop ? 'pointer-events-none' : 'pointer-events-auto'"
	>
	<div class="container relative flex items-center justify-between w-full px-5 py-8 mx-auto md:grid gap-x-14 grid-cols-a1">
		<a class="outline-none focus:outline-none" href="/">
			<img class="" src="/assets/icons/new-logo.svg" alt="Logo">
		</a>
		<nav	>
			<ul class="grid-flow-col font-semibold md:grid max-w-max gap-x-12 text-silver">
				{% for item in header.headerList %}
					<li class="hidden md:block">
						<a class="transition-all duration-300 hover:underline focus:outline-none rounded-[10px] p-1 ring-transparent ring-2 focus-visible:ring-electric-violet-2 " href="{{ item.url }}">{{ item.title }}</a>
					</li>
				{% endfor %}
				<li class="flex items-end justify-end">
					<div>
						<button @click.prevent="menuBurger = !menuBurger, $store.bodyLock = true" class="flex items-center justify-center transition-colors duration-300 rounded-sm w-7 h-7 md:hidden hover:bg-electric-violet-2 focus-visible:bg-electric-violet-2 focus:outline-none ">
							<svg class="text-white w-7 h-7">
								<use xlink:href="/assets/icons/all-icon.svg#burger"></use>
							</svg>
						</button>
					</div>
				</li>
			</ul>
		</nav>
		<nav
			x-cloak
			x-show="menuBurger"
			x-transition:enter-start="translate-x-full"
			x-transition:enter-end="translate-x-0"
			x-transition:leave-start="translate-x-0"
			x-transition:leave-end="translate-x-full"
			@click.outside="menuBurger = false, $store.bodyLock = false"
			class="right-0 fixed transition-all pointer-events-auto backdrop-blur-[46px] overflow-y-auto overflow-x-hidden duration-300 bg-black/10 z-[100] max-w-full w-max inset-y-0">
			<div
				x-data="{ openItem: null }"
				:class="openItem === null ? 'translate-x-0' : '-translate-x-full'"
				class="relative grid h-full max-h-screen gap-10 px-4 py-5 transition-all grid-rows-a1a"
			>
					<button
						@click.prevent="menuBurger = !menuBurger, $store.bodyLock = false"
						class="flex items-center justify-center w-10 h-10 ml-auto transition-colors duration-300 rounded-sm hover:bg-electric-violet-2 focus-visible:bg-electric-violet-2 focus:outline-none"
					>
						<svg class="text-white w-7 h-7 hover:text-black">
							<use xlink:href="/assets/icons/all-icon.svg#close"></use>
						</svg>
					</button>
					<ul class="grid gap-10 text-right h-max text-silver-2">
						{% for item in header.headerList %}
							<li>
								<a class="hover:underline focus:outline-none rounded-[10px] p-1 ring-transparent ring-2 focus-visible:ring-electric-violet-2 " href="{{ item.url }}">{{ item.title }}</a>
							</li>
						{% endfor %}
					</ul>
				<a class="outline-none focus:outline-none" href="/">
					<img class="" src="/assets/icons/new-logo.svg" alt="Logo">
				</a>
			</div>
		</nav>
	</div>
</header>
