{% from "components/buttons.njk" import button %}
{% from "components/label.njk" import label %}

<section 
	x-data="{
		activeSlide: 1,
		cname: 'processSlide'
	}"
	x-init="
		$watch(
			'activeSlide', value => {
				Cookies.setCookie(cname, value)
			}
		);
		if(Cookies.getCookie(cname)) {
			activeSlide = parseInt(Cookies.getCookie(cname))
		}
	"
>
	{{ label
		(
			theme = 'right',
			text = "Процесс"
		) 
	}}
	<div class="container px-5 mx-auto">
		<div class=" relative w-full h-2.5 mx-auto ring-1 ring-white ring-inset mt-10 rounded-full lg:hidden">
			<div
				class="h-full transition-all duration-300 -translate-x-1 -translate-y-1 rounded-full bg-gradient-to-r from-seance-2 to-medium-purple-2"
				:style="true ? 'width: calc((' + activeSlide / {{ index.process.length }} + ') * 100%);' : ''"
			>
			</div>
		</div>
		<div
			class="relative lg:grid mx-auto mt-5 lg:mt-10 lg:grid-cols-[380px_minmax(auto,_1fr)] gap-x-16"
		>
			<ul class="hidden text-white lg:grid gap-y-8">
				{% for item in index.process %}
				<li
					:class="activeSlide === {{ loop.index }} ? 'translate-x-5' : 'opacity-60'"
					class="relative flex items-center p-4 transition-all duration-300 rounded-full bg-gradient-to-r from-heliotrope to-electric-violet-2"
				>
					<button
						class="after:absolute after:inset-0"
						@click="activeSlide = {{ loop.index }}"
					>
						{{ loop.index }}. {{ item.title }}
					</button>
				</li>
				{% endfor %}
			</ul>
			{% for item in index.process %}
			<div
				x-cloak
				x-show="activeSlide === {{ loop.index }}"	
				x-transition:enter="hidden"
				x-transition:leave="opacity-0 invisible"
				class="grid min-h-[300px] lg:h-full p-4 overflow-hidden transition-all duration-300 grid-rows-1a rounded-3xl bg-mine-shaft"
			>
				<div>
					<h2 class="mb-2.5 text-center text-xl sm:text-2xl uppercase">
						{{ item.title }}
					</h2>
					<p class="sm:px-10">{{ item.text|safe }}</p>
				</div>
				<div class="flex justify-between mt-5 sm:mt-0 sm:px-10">
					{% if not loop.first %}
						{% call button(
							click = "activeSlide = " ~ loop.index ~ "- 1",
							class = "px-4 py-2 mr-auto sm:px-8 sm:py-4",
							theme = 'black'
						) %}
							Назад
						{% endcall %}
					{% endif %}
					
					{% if not loop.last %}
						{% call button(
							click = "activeSlide = " ~ loop.index ~ "+ 1",
							class = "px-4 py-2 ml-auto sm:px-8 sm:py-4",
							theme = 'white'
						) %}
							Вперед
						{% endcall %}
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
